.calculator {
  position: relative;
  left: 240px;
}
.results {
  width:180px;
  height: 40px;
  background-color: #000;
  color: white;
  text-align: right;
  font-size: 30px;
  direction: left;
  position: relative;
  left:205px;
  padding-right: 5px;
  padding-top: 2px;
}
.buttons {
  position: absolute;
  left: 205px;
  top: 50px;
}
.key {
  width:40px;
  height: 40px;
  background-color: #777;
  font-weight: bold;
  font-size: 20px;
  margin: 2px
}
.first_line {
  position: relative;
  top: 5px;
}
